In [41]:
#Here I take the string and stored it in a variable called "s"
s = "My name is khan!"
#Here I reversed the string using slicing
s[::-1]

'!nahk si eman yM'

In [8]:
#Here I created one empty string so that I can compared the strings with each other
y=""
#Here I use for loop so that I can itterate the sting 
for i in s:
#Here I stored the value in the variable y    
    y=i+y
#Here I use condition statement that is "if". If the condition is true then only this condition will execute OR else part will be executed.   
if (s==y):
    print("String is palindrome")
#Here I use condition statement that is "else". If the above condition is false then only this condition will execute.
else:
    print("String is not palindrome")

String is palindrome

In [10]:
#Here I used the .upper function which is already available, to convert the string into UPPER case
s.upper()

'DAD'

In [12]:
#Here I used the .lower function which is already available, to convert the string into LOWER case
s.lower()

'dad'

In [19]:
#Here I declared a variable name vowels where I stored the vowels.
vowels="aeiouAEIOU"
#Here I use 'count' function so that I can count the all poosible vowels present in the sentence and I sum it together using 'sum' function and stored it in a variable called 'count_of_vowels'
count_of_vowels=sum(s.count(vowel) for vowel in vowels)
#Here I print the value of the variable.
print(count_of_vowels)

10

In [30]:
#Here I declared a variable name consonents where I stored the consonents.
consonents = "B, C, D, F, G, H, J, K, L, M, N, P, Q, R, S, T, V, W, X, Y, Z, b, c, d, f, g, h, j, k, l, m, n, p, q, r, s, t, v, w, x, y, z"
#Here I use 'count' function so that I can count the all poosible consonents present in the sentence and I sum it together using 'sum' function and stored it in a variable called 'count_of_consonents'
count_of_consonents = sum(s.count(consonent) for consonent in consonents)
#Here I print the value of the variable.
print(count_of_consonents)

9

In [33]:
#Here using replace function in the String I can replace all the space in a String
s.replace(" ","")

'HARSHWARDHAN'

In [36]:
#Here I take 1 empty variable called str1
str1 = 0
#Here I for loop to itterate the string
for i in s:
#Here I start incrementing the value of str1 till the last value    
     str1 = str1 + 1
#Here I simply printed the value using the print function.    
print(str1)

16

In [22]:
#Here I used the index method to find the word is present in the string or not if it is not 
str2 = "name"
if str2 in s:
    print(str2 + " is present in String")
else:
    print(str2 + " is not present in String")

name is present in String

In [24]:
#Here I use the replace function in the String to replace the word with another one
s.replace("name", "aam")

'My aam is Khan'

In [74]:
#Here I use the count function in the String to count the word
s.count("Khan")

1

In [34]:
#Here I use the find function in the String to find the first occurence of word.
s.find("a")

4

In [36]:
#Here I use the rfind function in the String to find the last occurence of word.
s.rfind("a")

13

In [38]:
#Here I use the split function in the Sting to split the string into words
s.split()

['My', 'name', 'is', 'Khan']

In [47]:
#Here I take a list with several words and stored it in list1
list1 = ["PW skills" , "is" , "great", "for" , "Data Science"]
#Here I use join function to join the list of words and print it
print(' '.join(list1))

PW skills is great for Data Science

In [48]:
#Here I use the replace function to replace the space with underscores
s.replace(" ", "_")

'My_name_is_Khan'

In [49]:
#Here I use the startswith function to check weather the string startswith the specific word or phrase or not
s.startswith("My")

True

In [53]:
#Here I use the endswith function to check weather the string endswith the specific word or phrase or not
s.endswith("aamy")

False

In [56]:
#Here I use the title function in the string to title case the String, so that the first letter of every word is in capital case
s.title()

'My Name Is Khan'

In [63]:
#Here I first convert the string into a list so that I can perform another action on it
split_into_list = s.split()
#Here I use max finction and gave the key as length, so that it will give the max count of that word
longest_word = max(split_into_list , key=len)
#Here I use simply a print function to print the value
print(longest_word)

Khanna

In [65]:
#Here I use min finction and gave the key as length, so that it will give the min count of that word
shortest_word = min(split_into_list , key=len)
#Here I use simply a print function to print the value
print(shortest_word)

My

In [67]:
# Here I use the split function in string so that I can split the string and then I reversed it as well and stored it in a variable called str3
str3 = s.split()[::-1]
# Here I create the empty string so that I can use it to store the value
list2 = []
# Here I use the for loop to itterate
for i in str3:
# Here appending reversed words to list2
	list2.append(i)
# Here in print function I use join as well to join the words.
print(" ".join(list2))

Khanna is name My

In [2]:
# Here I use the isalnum function to check if a string is alphanumeric
s.isalnum()

False

In [16]:
#Here I declared one empty string
digits=""
#Here I use for loop to itterate the content in string s
for i in s:
    #Here I use if loop to check weather there is any digit in string
    if i.isdigit():
        #Here I append the digit into string and stored it in a variable called digits
        digits = digits + i
#Here I simply printed the string using print function        
print(digits)

123

In [21]:
#Here I declared one empty string
alphabets=""
#Here I use for loop to itterate the content in string s
for j in s:
    #Here I use if loop to check weather there is any alphabets in string
    if j.isalpha():
        #Here I append the alphabets into string and stored it in a variable called alphabets
        alphabets = alphabets + j
#Here I simply printed the string using print function        
print(alphabets)

Khanna

In [2]:
#Here I take a empty variable so that I can store the value
number_of_uppercase=0
#Here I use for loop to itterate the string
for k in s:
    #Here I use isupper function to find the case is upper
    if k.isupper():
        #Here I stored the value in a variable and whenever it find the uppercase, it will going to increment in value by 1 and store it
        number_of_uppercase = number_of_uppercase+1
#Here I simply printed the value of the variabke        
print(number_of_uppercase)

3

In [7]:
#Here I take a empty variable so that I can store the value
number_of_lowercase=0
#Here I use for loop to itterate the string
for l in s:
    #Here I use islower function to find the case is upper
    if l.islower():
        #Here I stored the value in a variable and whenever it find the lowercase, it will going to increment in value by 1 and store it
        number_of_lowercase = number_of_lowercase+1
#Here I simply printed the value of the variabke        
print(number_of_lowercase)

4

In [9]:
#Here I use the swapcase function to swap the case of string
s.swapcase()

'kHAnnNA'

In [13]:
#Here I use the replace function to replace the specific word from the String
s.replace('is ','')

'My name Khan'

In [15]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "wankhedeh08@email.com"
email2 = "invalid-emailadd"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [22]:
#Here I use split function to get the user name from email along with index
email1.split('@')[0]

'wankhedeh08'

In [24]:
#Here I use split function to get the domain name from email along with index
email1.split('@')[1]

'email.com'

In [27]:
#Here I use join function as well as split so that I can first split the string and then I can join the string using join function
joined_string= ' '.join(s.split())
print(joined_string)

My name is Khan

In [29]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [31]:
#Here I use the validators library to check the string is valid URL
import validators
#Here I use URL and strored it in a variable
string = 'https://www.google.com'
#Here it will check for the valid URL and print it
if validators.url(string):
    print("The string is a valid URL")
#Here it will print for the invalid URL    
else:
    print("The string is not a valid URL")

The string is a valid URL

In [10]:
#Here I use 1 url
url = "http://www.example.com"
#Here I use find function to find out the value that I need
protocol_end = url.find("://")

#With the help of if and else I printed the output
if protocol_end != -1:
        # Extract the protocol from the URL
    protocol = url[:protocol_end]
    print(protocol)
else:
    print("None")

http

In [11]:
def character_frequency(input_string):
    frequency = {}  # Create an empty dictionary to store character frequencies

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initialize the frequency count to 1 if the character is not in the dictionary

    return frequency

# Example string
input_str = "hello world"

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [12]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [21]:
#Here I use is digit function in the Python to check the string contains only digit

s.isdigit()

False

In [24]:
#Here I use isalpha to check wheather the string contains only alphabets

s.isalpha()

True

In [28]:
char_list = list(s)

print(char_list)

['M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'k', 'h', 'a', 'n']

In [31]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "part"
string2 = "tap"
string3 = "heart"
string4 = "earth"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'part' and 'tap' are anagrams: False
'heart' and 'earth' are anagrams: True

In [32]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [33]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [36]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [37]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'there', 'hello', 'hows', 'world', 'the'}

In [38]:
#Here I import regular expression library
import re

#Here counted the number of syllables in a string
vowel_groups = re.findall(r'[aeiouy]+', s, re.IGNORECASE)

#Here I printed the length of string so that I can get the value
print(len(vowel_groups))

5

In [43]:
#Here I import regular expression library
import re

#Here I search for the pattern in a string
pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

match = pattern.search(s)

#Here I print the value using bool that is True or False
print(bool(match))

True

In [44]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [45]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [6]:
#Here I created a list from 1 to 10
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#Here I found the length of the string using length function
len(list)

10

In [8]:
#Here I append an element in the list using append function
list.append(11)

#Here I print the list using print function
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [9]:
#Here I use insert function in the list to insert the element in the specific index (first value is the index, second value is the element to enter)
list.insert(2,22)
#Here I simply printed the list using print function
print(list)

[1, 2, 22, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [62]:
#Here I take a value to be removed from the list 
value = 7
#Here I use the remove function in the list and I passed the value which is to remove
list.remove(value)
#Here I use print function to print the list
print("Updated list : ",list)

Updated list :  [1, 2, 22, 5, 6, 10, 11]

In [17]:
#Here I declared a varible and gave it a value of index to be removed
index_to_remove = 3
#Here I use pop function in list to remove a element and stored it in a variable
removed_element = lis
t.pop(index_to_remove)
#Here I use print function to print the value of list
print("List after remove the element from index : ",list)

List after remove the element from index :  [1, 2, 22, 5, 6, 7, 10, 11]

In [60]:
#Here I take an element to be checked in the list and stored it in a variable called 'q'
q=2
#Here I use IF ELSE ladder to check the condition that the element is present in the list or not
if q in list:
    #Here I use print function
    print(q ,"is present in the list")
#Here I use else if the element is not present in the list    
else:
    #Here I use print function
    print(q,"is not present in the list")

2 is present in the list

In [26]:
#Here I use the index function in the list to know the index value of an element
list.index(5)

3

In [11]:
#Here I take a new list
list1 = [1,2,4,5,6,78,9,76,5,4,33]
#Here I use count function in the list to count the occurences of an element in the list
list1.count(4)

2

In [32]:
#Here I use reverse function in the list to reverse the list 
list1.reverse()
#Here I use print function in the list to print the list
print("Reversed order string is : ",list1)

Reversed order string is :  [1, 2, 4, 4, 5, 5, 6, 9, 33, 76, 78]

In [59]:
#Here I use the sort function in the list to sort the value in the acending order
list1.sort()
#Here I use print function in the list to print the list as an output
print(list1)

[1, 2, 4, 4, 5, 5, 6, 9, 33, 76, 78]

In [56]:
#Here I use the sort function in the list to sort the value in the decending order and I pass reverse as true so that it will give the decending order
list1.sort(reverse=True)
#Here I use print function in the list to print the list as an output
print(list1)

[78, 76, 33, 9, 6, 5, 5, 4, 4, 2, 1]

In [55]:
#Here I use for loop to itterate over a range from 2 to 21 over the difference of 2 so that I can get a even number
#Here I use the list comprehension
even_numbers = [x for x in range(2, 21, 2)]
#Here I use the print function to print the even numbers
print("List of even numbers: ",even_numbers)

List of even numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
#Here I use for loop to itterate over a range from 1 to 20 over the difference of 2 so that I can get a odd number
#Here I use the list comprehension
odd_numbers = [x for x in range(1, 20, 2)]
#Here I use the print function to print the odd numbers
print("List of odd numbers: ",odd_numbers)

List of odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [54]:
#Here I use the sum function so that I can get the sum of list1
sum(list1)

223

In [52]:
#Here I use max function  so that I can get the maximum value in the list
max(list1)

78

In [53]:
#Here I use min function  so that I can get the minimum value in the list
min(list1)

1

In [3]:
#Here I use list comprehension
#Here I square the number and then using for loop in the range of 1 to 10. 11 will be excluded.
square_of_num = [x ** 2 for x in range(1, 11)]
#Here I use print function to print the value stored in variable
print(square_of_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Here I created a list of random numbers.
list3 = [1,3,4,56,6,7,8,8,9,76445,5225,75378663,2,55,42,26757,213,323212,42]

In [7]:
#Here I use type casting so that the duplicates can be removed
#I converted the list into set and then again converted into list, since set does not store duplicates
remove_duplicates=list(set(list3))
#Here I simply print the list after removal of duplicates
print(remove_duplicates)

[1, 2, 3, 4, 26757, 6, 7, 8, 9, 5225, 75378663, 42, 323212, 213, 55, 56, 76445]

In [13]:
#Here I use list comprehension
#Here I use 2 lists that is list1 and list 3
#Using for loop I itterate over the list1 and then try to match with the elements of the list3
common_element = [x for x in list1 if x in list3]
#Here I print the list
print(common_element)

[1, 2, 4, 6, 9, 4]

In [16]:
#Here I use type casting since the difference function is available in set and not in list
#After typecasting and having the difference, I converted it again in list
difference_in_list = list(set(list1).difference(list3))
#Here I simply printed value
print(difference_in_list)

[33, 5, 76, 78]

In [26]:
#Here I take a new list
list4 = [10,20,30,40]
#Here I take a new list
list5 = [50,60,70]
#Here I add both the list and stored it in a variable
merger_list = list4+list5
#Here I simply printed the variable
print(merger_list)

[10, 20, 30, 40, 50, 60, 70]

In [23]:
#Here I use the list comprehension
#Here I multiply all the elements of list by 2 using for loop
multiplyed_value = [x*2 for x in list4]
#Here I simply printed the value of variable
print(multiplyed_value)

[20, 40, 60, 80]

In [29]:
#Here I use list comperhension
#Here I use for loop to itterate over the list3 and using the 'if' statement I found that if the number is fully divisible by 2 then that number is even number
even_num_list = [x for x in list3 if x%2==0]
#Here I simply printed the value of a variable
print(even_num_list)

[4, 56, 6, 8, 8, 2, 42, 323212, 42]

In [31]:
#Here I take a new list6
list6 = ["10","20","30","40"]
#Here using for loop I itterate over a list of elements and then typecast them into integers
list_of_int= [int(x) for x in list6]
#Here I simply printed the variable
print(list_of_int)

[10, 20, 30, 40]

In [21]:
#Here I take a new list7
list7 = [10,20,30,40]
#Here using for loop I itterate over a list of elements and then typecast them into string
list_of_str= [str(x) for x in list7]
#Here I simply printed the variable
print(list_of_str)

['10', '20', '30', '40']

In [1]:
# Example nested list
list8 = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(list8)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    # Initialize the list with the first two Fibonacci numbers
    fibonacci_list = [0, 1]

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(10)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [11]:
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Check if the list is sorted in ascending order
if is_sorted_ascending(list3):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is not sorted.

In [13]:
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    # Normalize n to handle cases where n is larger than the list length
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 1

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [2, 3, 4, 5, 6, 1]

In [17]:
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    # Normalize n to handle cases where n is larger than the list length
    n = n % len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 1

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [6, 1, 2, 3, 4, 5]

In [3]:
# Define a function to check if a number is prime
def is_prime(n):
  # If n is less than 2, it is not prime
  if n < 2:
    return False
  # Loop from 2 to the square root of n
  for i in range(2, int(n**0.5) + 1):
    # If n is divisible by i, it is not prime
    if n % i == 0:
      return False
  # If none of the above, it is prime
  return True

# Create an empty list to store the prime numbers
prime_list = []

# Loop from 2 to 50
for j in range(2, 51):
  # If j is prime, append it to the list
  if is_prime(j):
    prime_list.append(j)

# Print the list of prime numbers
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [4]:
#Here check the length of the list and check weather it is greater than or equal to 2
if len(list7) >= 2:
    #Here I check the second largest number in the list
    second_largest = list7[-2]
    #Here I simply print the largest number in the list
    print("Second largest number:", second_largest)

Second largest number: 30

In [5]:
#Here I use list comprehension
#Here I loop over a list and square each element of a list
element_square = [x**2 for x in list7]
#Here I simply print the list
print(element_square)

[100, 400, 900, 1600]

In [9]:
#Here I use dictionary comperhension
converted_dict = {element: index for index, element in enumerate(list7)}
#Here I simply printed the variable
print(converted_dict)

{10: 0, 20: 1, 30: 2, 40: 3}

In [12]:
#Here I import the library called random
import random
#Here I use shuffle function in random and shuffle the list
random.shuffle(list7)
#Here I simply printed the list
print("Shuffle elements : ",list7)

Shuffle elements :  [10, 40, 30, 20]

In [19]:
# Function to calculate factorial
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]
# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

[0, 0, 2, 6, 12, 20, 30, 42, 56, 72]

In [32]:
# Function to check if two lists have at least one element in common
def has_common_element(list4, list7):
    for item in list4:
        if item in list7:
            return True
    return False
# Check if the two lists have at least one element in common
if has_common_element(list4, list7):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [34]:
#Here I use the clear function in the list to remove all the elements from the list
list4.clear()
#Here I simply print the list
print(list4)

[]

In [40]:
#Here I take a list with some negative numbers
list4 = [-1,2,3,4,5,67,-4,-5,-23]
#Here I use for loop to know the length of the list
for i in range(len(list4)):
    #Here I check the condition that if element is smaller than 0
    if list4[i] < 0:
        #If the element is smaller than 0 then it will be replaced by 0
        list4[i] = 0
#Here I simply print the list        
print(list4)

[0, 2, 3, 4, 5, 67, 0, 0, 0]

In [39]:
#Here I take a string
String1 = "My name is Harshwardhan"
#Here I use split function to split the list into words
converted_string = String1.split()
#Here I simply printed the string
print(converted_string)

['My', 'name', 'is', 'Harshwardhan']

In [43]:
#Here I take a list
list8 = ['My', 'name', 'is', 'Harshwardhan']
#Here I use join function to join the list with space as well
converted_list = " ".join(list8)
#Here I simply printed the variable
print(converted_list)

My name is Harshwardhan

In [44]:
# Here I specify the value of n
n = 5
#Here I create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]
#Here I simply print the list of powers of 2
print(power_list)

[1, 2, 4, 8, 16]

In [46]:
#Here I find the longest string in the list
longest_string = ""
#Using for loop I itterate over the a list
for i in list8:
    #Here I check for the length of the string
    if len(i) > len(longest_string):
        longest_string = i
# Print the longest string
print("Longest string:", longest_string)

Longest string: Harshwardhan

In [50]:
#Here I Initialize with the first string
shortest_string = list8[0]
#Using for loop I itterate over the a list
for s in list8:
    #Here I check for the length of the string
    if len(s) < len(shortest_string):
        shortest_string = s
# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: My

In [51]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [52]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [36]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [14]:
#Here I created the Tuple with integer 1 to 5
tuple1=(1,2,3,4,5,3)
#Here I check the type
type(tuple1)

tuple

In [6]:
#Here I access the 3rd element of tuple, Since tuple is immutable I try to fetch using the index value
third_element = tuple1[2]
#Here I simply printed the variable
print(third_element)

3

In [9]:
#Here I take a variable
count = 0
#Using for loop I itterate over a tuple and I increase the count by 1 everytime
for i in tuple1:
    count = count + 1
#Here I simply printed a variable
print(count)

5

In [16]:
#Here I declared variable to be checked in the tuple
var1 = 3
#Here I take another variable to give the occurences of an element
count1 = 0
#Here I use for loop to itterate over a tuple
for i in tuple1:
    #If the element match then the count will be increase by 1
    if i == var1:
        count1 = count1 + 1
#Here I simply print the variable        
print(count1)

2

In [19]:
#Here I use index function to find the index of the given number
tuple1.index(3)

2

In [29]:
#Here I take a element to check in the tuple
var2 = 4
#Here I check that element is present in tuple or not
if var2 in tuple1:
    print("Element present in the tuple")
#If that element is not present in tuple then it will print else part    
else:
    print("Element not present in the tuple")

Element present in the tuple

In [35]:
#Here I type cast the tuple and convert it into a list
converted_list = list(tuple1)
#Here I simply printed the variable
print(converted_list)

[1, 2, 3, 4, 5, 3]

In [38]:
#Here I type cast the list and convert it into a tuple
converted_tuple = tuple(my_list)
#Here I simply printed a variable
print(converted_tuple)

(1, 4, 3, 2, 5)

In [40]:
#Here I use for loop to unpack the elements of the tuple
for i in tuple1:
    #Here I simply printed the value of i
    print(i)

1
2
3
4
5
3

In [44]:
#Here I use list comprehension as above solved
#Then I use type casting and convert it into a tuple
even_num = tuple([i for i in range(2,11) if i%2==0])
#Here I simply print a variable
print(even_num)

(2, 4, 6, 8, 10)

In [45]:
#Here I use list comprehension as above solved
#Then I use type casting and convert it into a tuple
odd_num = tuple([i for i in range(1,10) if i%2!=0])
#Here I simply print a variable
print(odd_num)

(1, 3, 5, 7, 9)

In [4]:
#Here I declared a new tuple
tuple2 = (10,20,30,40,3,4,5,6,7,9,57,47,89)
#Here I declared a new tuple
tuple3 = (60,70,80,90)
#Here I concatenate 2 tuples and stored it in a new variable
Concat_tuple = tuple2 +tuple3
#Here I simply printed a variable
print(Concat_tuple)

(10, 20, 30, 40, 3, 4, 5, 6, 7, 9, 57, 47, 89, 60, 70, 80, 90)

In [50]:
#Here I repeat a tuple 3 times and stored it new variable
repeat_tuple = tuple3*3
#Here I simple printed a variable
print(repeat_tuple)

(60, 70, 80, 60, 70, 80, 60, 70, 80)

In [52]:
#Here use if else statement I check weather the tuple is empty or not
if not tuple3:
    #Here I print if the tuple is empty
    print("tuple3 is empty")
else:
    #Here I print if the tuple is not empty
    print("tuple3 is not empty")

tuple3 is not empty

In [54]:
#Here I created a nested tuple
tuple4 = (1,2,3,(4,5,6))

In [56]:
#Here I access the firt element in the nested tuple using index value
access_first = tuple4[0]
#Here I simply printed the variable
print(access_first)

1

In [63]:
#Here I created a tuple with single element
tuple5=(69,)
print(tuple5)

(69,)

In [64]:
#Here I Compare the two tuples using comparison operators
# Equality check
print("tuple1 == tuple2:", tuple2 == tuple3)
# Inequality check
print("tuple1 != tuple2:", tuple2 != tuple3)
# Less than check
print("tuple1 < tuple2:", tuple2 < tuple3)
# Less than or equal to check
print("tuple1 <= tuple2:", tuple2 <= tuple3)
# Greater than check
print("tuple1 > tuple2:", tuple2 > tuple3)
# Greater than or equal to check
print("tuple1 >= tuple2:", tuple2 >= tuple3)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [96]:
#Here I created a tuple
tuple6 = (43,5,546,56,57,34)
#Here I use del function to delete a tuple named tuple 6
del tuple6
#Here I simply print a variable
print(tuple6)

In [68]:
#Here I sliced a tuple using slicing method [first element is the index to start, second element is ene but excluded]
tuple_slice = tuple1[2:5]
#Here I simply printed a variable
print(tuple_slice)

(3, 4, 5)

In [71]:
#Here I use Max function to find the maximum value in tuple
max_value = max(tuple1)
#Here I simply print a variable
print(max_value)

5

In [72]:
#Here I use Min function to find the minimum value in tuple
min_value = min(tuple1)
#Here I simply print a variable
print(min_value)

1

In [81]:
#Here I declared a string
str2 = "Harshwardhan"
#Here I typecast a string and converted into a tuple
converted_tuple = tuple(str2)
#Here I simply printed a variable
print(converted_tuple)

('H', 'a', 'r', 's', 'h', 'w', 'a', 'r', 'd', 'h', 'a', 'n')

In [85]:
#Here I take a tuple to be converted
tuple7 = ('W', 'a', 'n', 'k', 'h', 'e', 'd', 'e')
#Here I join the character using join function
converted_str = ''.join(tuple7)
#Here I simply print a variable
print(converted_str)

Wankhede

In [87]:
#Here I created a tuple with multiple data types
tuple_multiple_data_type = (1,3.14,True,"wankhede")

In [92]:
#Here using If else statement I check weather the tuple is equal to other tuple
if tuple2==tuple3:
    #Here I simply use print function
    print("Tuples are identical")
else:
    #Here I simply use print function
    print("Tuples are not identical")

Tuples are not identical

In [9]:
#Here I defined a new tuple
tuple8 = (43,5,242,45564,7562,34,67,8,325)
#Here I sorted a tuple using sorted and then typecast it to tuple
sorted_tuple = tuple(sorted(tuple8))
#Here I simply print a variable
print(sorted_tuple)

(5, 8, 34, 43, 67, 242, 325, 7562, 45564)

In [100]:
#Here I use tuple comprehension
#Here using for loop I itterate over a tuple and typecast every element in string then again typecast it to tuple
converted_tuple_int = tuple((str(i) for i in tuple8))
#Here i simply print a variable
print(converted_tuple_int)

('43', '5', '546', '56', '57', '34')

In [35]:
tuple9 = ('43', '5', '546', '56', '57', '34')
converted_tuple_str = tuple((int(j) for j in tuple9))
print(converted_tuple_str)

(43, 5, 546, 56, 57, 34)

In [108]:
#Here I merge 2 tuple
merge_tuple = tuple2 + tuple8
#Here I simply print a variable
print(merge_tuple)

(10, 20, 30, 40, 43, 5, 546, 56, 57, 34)

In [1]:
##Here recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened
#Here I create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))
#Here I flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))
#Here I print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [4]:
#Here the function to check if a number is prime
def is_prime(num):
    #Here number should not be smaller than 1
    if num <= 1:
        return False
    #Here using for loop I check for the prime number
    #Using tuple comprehension
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

#Here I generate the first 5 prime numbers
prime_num = tuple([num for num in range(2, 100) if is_prime(num)][:5])
#Here I print the prime numbers
print("Tuple of the first 5 prime numbers:", prime_num)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [10]:
#Here I reversed the tuple and try to check with the same tuple, so that I get to know that the tuple is palindrome
if tuple8[::-1]==tuple8:
    #Here I simply print
    print("The tuple is Palindrome")
#Here if the tuple is not panlindrome then the else part will get executed
else:
    #Here I simply print
    print("THe tuple is not Palindrome")

THe tuple is not Palindrome

In [16]:
#Here I use tuple comprehension
#Using for loop in range I square each element
square_tuple = tuple(x**2 for x in range(1,6))
#Here I simply print variable
print(square_tuple)

(1, 4, 9, 16, 25)

In [9]:
#Here I use tuple comprehension
#Using for loop I itterate over tuple and using if statement I check that is it a even number
even_num = tuple(x for x in tuple2 if x%2==0)
#Here I simply print a variable
print(even_num)

(10, 20, 30, 40, 4, 6)

In [12]:
#Here I use tuple comprehension
#Here using for loop I itterate over tuple and then multiply every element by 2
multiply_num = tuple(i*2 for i in tuple2)
#Here I simply print the variable
print(multiply_num)

(20, 40, 60, 80, 6, 8, 10, 12, 14, 18, 114, 94, 178)

In [13]:
import random
#Here I create a tuple of random numbers using a list comprehension
#Here I generate 10 random numbers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
#Here I simply print a variable
print("Random tuple:", random_tuple)

Random tuple: (28, 1, 37, 61, 23, 57, 86, 90, 16, 37)

In [20]:
#Here I defined a function to find the tuple is sorted or not
def is_sorted(tup):
    #Using for loop I itterate over a tuple
    for i in range(len(tup) - 1):
        #Using if statement check if the previous number is greater or not and then return as what it is
        if tup[i] > tup[i + 1]:
            return "Tuple is not sorted"
    return "Tuple is sorted"
#Here I call the function and pass the tuple3 to it
sorted_or_not = is_sorted(tuple3)
#Here I simply use print function
print(sorted_or_not)

Tuple is sorted

In [21]:
#Here I defined a function to rotate tuple left
def rotate_tuple_left(tup, n):
    #Here I ensure n is within the range of tuple length
    n = n % len(tup)
    #Here I rotate the tuple
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple
#Here I specify how much to rotate
n_positions = 1
#Here I call a function
result = rotate_tuple_left(tuple3, n_positions)
#Here I simply print a variable
print(result)

(70, 80, 90, 60)

In [23]:
#Here I defined a function to rotate tuple right
def rotate_tuple_right(tup, n):
    #Here I ensure n is within the range of tuple length
    n = n % len(tup)
    #Here I rotate the tuple
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple
#Here I specify how much to rotate
n_positions = 2
#Here I call a function
result = rotate_tuple_right(tuple3, n_positions)
#Here I simply print a variable
print(result)

(80, 90, 60, 70)

In [24]:
# Define a function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    # Initialize the list with the first two Fibonacci numbers
    fibonacci = [0, 1]
    #Continue generating Fibonacci numbers until the list has n elements
    while len(fibonacci) < n:
        # Calculate the next Fibonacci number
        next_number = fibonacci[-1] + fibonacci[-2]
        # Add the next Fibonacci number to the list
        fibonacci.append(next_number)  
    # Convert the list to a tuple and return it
    return tuple(fibonacci)

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

#Here I simply print a variable
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [28]:
#Here I take a input from a user and typecast with tuple
user_input_tuple = tuple(input())
#Here I simply print a variable
print(user_input_tuple)

 3424235436247

('3', '4', '2', '4', '2', '3', '5', '4', '3', '6', '2', '4', '7')

In [29]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    tuple2[i] if i not in (index1, index2) else
    tuple2[index2] if i == index1 else
    tuple2[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (10, 40, 30, 20, 3)

In [32]:
#Here I reversed the tuple3 using ::-1 this is the basic technique to obtain reversed element
reversed_tuple = tuple3[::-1]
#Here I simply print a variable
print(reversed_tuple)

(90, 80, 70, 60)

In [33]:
#Here I defined a variable with a value of n
n = 5
#Here I create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))
#Here I use simple print function
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [37]:
#Here I use max function, where I pass 2 values one is tuple which I want to know the longest element and 2nd is the key by which I will get the length of the every element
longest_string = max(tuple9, key=len)
#Here I simply print a variable
print("Longest string:", longest_string)

Longest string: 546

In [40]:
#Here I use min function, where I pass 2 values one is tuple which I want to know the shortest element and 2nd is the key by which I will get the length of the every element
shortest_string = min(tuple9, key=len)
#Here I simply print a variable
print("Shortest string:", shortest_string)

Shortest string: 5

In [43]:
#Here I defined the vaule of n
n = 5
#Here I create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
#Here I simply print a variable
print(triangular_numbers_tuple)

(1, 3, 6, 10, 15)

In [44]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [45]:
#Here first define the value for n
n = 10
#Here I used list comprehension
#Using for loop in range of n and then I print i%2
alternating_tuple = tuple(i % 2 for i in range(n))
#Here I simply print a variable
print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [2]:
set1 = {1,2,3,4,5}
type(set1)

set

In [5]:
#Here using add function I added an element to set
set1.add(7)
set1

{1, 2, 3, 4, 5, 7, 8}

In [8]:
#Here using remove function I removean element from set
set1.remove(3)
set1

{1, 2, 5, 7, 8}

In [20]:
#Here I take a element to be checked in set
check_element = 4
#Here using if statement I check weather the element present in set
if check_element in set1 :
    #Here I simply use print statement
    print("Element exist in Set")
#When if statement does not satisfy then the else part will be executed
else:
    #Here I simply use print statement
    print("Element not exist in Set")

Element not exist in Set

In [36]:
#Here I take a variable and initalise it with 0
len_of_set=0
#Here using for loop to itterate over set
for i in set1:
    #Here I increment the count every itteration
    len_of_set +=1
#Here I use simple print function    
print(len_of_set)

5

In [37]:
#Here using clear function I clear all the elements in set
set1.clear()
set1

set()

In [39]:
#Here using for loop in range from 1 to 11 and using if statement to check it is even number or not then I print it
even_num_set = {i for i in range(1,11) if i%2==0}
#Here I use simple print function
print(even_num_set)

{2, 4, 6, 8, 10}

In [40]:
#Here using for loop in range from 10 and using if statement to check it is odd number or not then I print it
odd_num_set = {i for i in range(10) if i%2!=0}
#Here I use simple print function
print(odd_num_set)

{1, 3, 5, 7, 9}

In [7]:
#Here I take a new set2
set2 = {1,2,3,4,5}
#Here I take a new set3
set3 = {3,4,5}
#Here I use union function to check the union in two sets
union_set = set2.union(set3)
#Here I use simple print function
print(union_set)

{1, 2, 3, 4, 5}

In [44]:
#Here using intersection function in the set I check the intersection between the two set, set2 and set3
intersection_of_set = set2.intersection(set3)
#Here I simply use print function
print(intersection_of_set)

{3, 4, 5}

In [46]:
#Here using difference function in set I check the difference between sets
difference_set = set2.difference(set3)
#Here I use simply print function
print(difference_set)

{1, 2}

In [51]:
#Here using issubset function I check weather set3 is a subset of set2
set3.issubset(set2)

True

In [55]:
#Here using issuperset function I check weather set2 is a superset of set3 
set2.issuperset(set3)

True

In [2]:
#Here I create a list
list69 = [2,4,6,224,7,8,8,8,]

In [4]:
#Here I typecast and convert it into a list
set(list69)

{2, 4, 6, 7, 8, 224}

In [6]:
#Here I create a Set
set4 = {3,5,6,7,8,9}
#Here I typecast a set and convert it into a list
list(set4)

[3, 5, 6, 7, 8, 9]

In [10]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 1 : {2, 3, 4, 5}

In [13]:
#Here I use pop function to pop the element from the set
set2.pop()
set2

{3, 5}

In [16]:
#Here I create a new set
set5 = {1,23,6,4,5,6}
#Here I create a new set
set6 = {67,9,0,53,2,2}
#Here using intersection function in the set I check weather any elements common in sets
intersection_of_set = set5.intersection(set6)
#Here I simply use print function
print(intersection_of_set)

set()

In [19]:
#Here I use ^ operator to find the symmetric difference in set
symmetric_difference = set5 ^ set6
#Here I use simple print function
print(symmetric_difference)

{0, 1, 2, 67, 4, 5, 6, 9, 23, 53}

In [23]:
#Here I use update function in set to update the elements of set 3
set3.update(set2)

In [24]:
set2

{3, 5}

In [25]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [26]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [27]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [28]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [29]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

In [30]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [31]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [32]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {65, 19, 27, 30, 31}

In [33]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [34]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [35]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [36]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [37]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'l', 'h', 'e', 'o'}

In [38]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '789', '123'}
Converted Integer Set: {456, 123, 789}

In [39]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '5', '1', '3', '2'}

In [40]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

{1, 2, 3, 4, 5}

In [41]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [42]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

In [43]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

In [44]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  34
>  553
>  232
>  5
>  4
>  6
>  6
>  643
>  done

Final set: {'4', '5', '553', '232', '34', '643', '6'}

In [45]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [46]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [47]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [48]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [49]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [50]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [51]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  3

The set of the first 3 triangular numbers is: {1, 3, 6}

In [52]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [53]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [54]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}